#book-list {
  padding: 0;
}

#book-list li {
  color: white;
  cursor: default;
  display: block;
  margin: 0.5rem;
  padding: 0.3rem;
  border: 2px solid white;
  border-radius: 1rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  background-color: rgb(49, 49, 139);
}

#book-list li:hover {
  color: rgb(95, 38, 100);
  background-color: white;
  border: 2px solid purple;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
